/* ---------- NavBar Start ---------- */



/* navbar background color  */
.bg-color{
    background-color: #F0FFF0;
}

/* navbar logo */
a.navbar-brand img {
    width: 150px;
}

/* navbar font wid  */
a.nav-link {
    font-weight: 500;
}

li.nav-item {
    margin: 0px 15px;
}

/* nav singin-burtton  */
li.nav-item.singin-button a.nav-link {
    color: white;
    background: #21B573;
    border-radius: 20px;
    padding: 8px 20px;
}

.home-p-color {
    color: orangered;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

p.home-p2-color {
    width: 560px;
    padding: 20px 0px;
    color: gray;
    font-family: 'Poppins', sans-serif;
}
.container {
    padding: 50px 0px;
}

/* home-right-img  */
.col-md-6 img {
    width: 550px;
}

/* Get started */
button.get-button {
    padding: 10px 45px;
    border-radius: 33px;
    border: none;
    background: #21B573;
    font-weight: 600;
    color: white;
    transition-duration: 0.3s;
}

button.get-button:hover {
    color: black;
}


/* home-h-text  */

.home-h-text{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
}
.home-h2-text{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.home-h2-text-color{
   color: #21B573;;
}

/* ---------- NavBar End ---------- */



/* ---------- Box Start ---------- */
.Box {
    width: 80%;
    margin: auto;
    height: 500px;
}

.col-md-3 img {
    width: 70px;
}

.card-h-w {
    width: 260px;
    height: 240px;
}

.card.card-h-w.d-flex.align-items-center {
    padding: 30px 30px;
    border: none;
}

.card-body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* ---------- Box Start ---------- */



/* ---------- Courses Start ---------- */


/* Courses h1  */
.courses_text.d-flex.justify-content-center h1 {
    font-weight: 700;
    font-size: 36px;
    color: #413960;
    font-family: 'Poppins', sans-serif;
}

/* Coursrs-box-img */
.card.h-100 img {
    padding: 20px;
}

/* Courses-Body-text */
.Courses-Body{
    text-align: start;
    color: #413960;
}

/* Courses-Body-text-footer */

.card.h-100 {
    border-radius: 18px;
    overflow: hidden;
    box-shadow: -10px 10px 35px -5px grey;
}

.card-footer {
    padding: 22px 0px;
    border: none;
    background: white;
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: #585859;
}

.Icon-one {
    padding-left: 18px;
    font-size: 18px;
}

i.far.fa-calendar-alt {
    padding-right: 10px;
}


.Icon-two {
    padding-left: 30px;
    font-size: 18px;
}
i.fas.fa-user {
    padding-right: 10px;
}

/* ---------- Courses Start ---------- */



/* <!----------- Testimonial Started -----------> */

.test-pad {
    padding: 120px 0px;
}

.col-md-7 p {
    width: 570px;
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
}

.col-md-5 img {
    width: 120px;
    margin-left: 290px;
    margin-top: 55px;
    border: 1px solid gray;
    border-radius: 66px;
}

/* <!----------- Testimonial End -----------> */



/* <!----------- Footer Started -----------> */



/* Footer Color */
.footer-color{
    background-color: #282531;;
}

/* Footrt-left-text */
p.footer-p {
    color: white;
    width: 370px;
    font-family: 'Poppins', sans-serif;
}

/* Footrt-right-text */
.Courses-p {
    color: white;
    font-family: 'Poppins', sans-serif;
}

p.p-bold {
    font-weight: bold;
    font-size: 20px;
}

.footer-padding {
    padding: 75px 0px;
}

.footer-color {
    padding: 40px 0px;
}

footer {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

/* <!----------- Footer End -----------> */
